:root { 
--black_900_01:#0d0f13; 
--black_900:#000000; 
--gray_900:#151a2d; 
--blue_gray_800:#324563; 
--red_A700_01:#d00909; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--red_A700:#db0c0c; 
--gray_50:#fdf5f5; 
}